<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>142375810694-3h5816ovo6e1g2ltdpqlic14uuhba3ls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142375810694-3h5816ovo6e1g2ltdpqlic14uuhba3ls</string>
	<key>API_KEY</key>
	<string>AIzaSyDujAFtPCoRu02JxJv4zzZchA0t0r8-h8A</string>
	<key>GCM_SENDER_ID</key>
	<string>142375810694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.paikama.recipe</string>
	<key>PROJECT_ID</key>
	<string>recipe-nom</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-nom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142375810694:ios:302b5701fdaef001</string>
	<key>DATABASE_URL</key>
	<string>https://recipe-nom.firebaseio.com</string>
</dict>
</plist>